houm_api_key: {{ chacal.houm.site_key }}
slack_api_key: {{ chacal.ha.slack.homebot.api_key }}
recorder_db_url: postgresql://ha:{{ chacal.ha.postgres.password }}@localhost/ha
mqtt_username: {{ chacal.haukkakallio.mqtt_users[4].username }}
mqtt_password: {{ chacal.haukkakallio.mqtt_users[4].password }}
