GPG_PW='{{ chacal.netserver.duply.influxdb_pgp_key }}'

TARGET='s3://s3-eu-west-1.amazonaws.com/chacal-backups/netserver'

SOURCE='/'

MAX_FULLBKP_AGE=1W
DUPL_PARAMS="$DUPL_PARAMS --full-if-older-than $MAX_FULLBKP_AGE "
DUPL_PARAMS="$DUPL_PARAMS --s3-european-buckets --s3-use-new-style --s3-use-ia --allow-source-mismatch"
