recorder_db_url: postgresql://ha:{{ chacal.ha.postgres.password }}@localhost/ha
home_connect_client_id: {{ chacal.home_connect.client_id }}
home_connect_client_secret: {{ chacal.home_connect.client_secret }}
# Not directly used from here, but entered manually to the UI when adding MQTT integration
mqtt_username: {{ chacal.haukkakallio.mqtt_users[4].username }}
mqtt_password: {{ chacal.haukkakallio.mqtt_users[4].password }}
