filebeat.inputs:
- type: log
  enabled: true

  paths:
{% for path in filebeat_input_paths %}
    - {{ path }}
{% endfor %}

# /var/log/messages, /var/log/syslog, /var/log/auth.log and /var/log/secure are handled by system module
  exclude_files:
    - /var/log/wtmp
    - /var/log/lastlog
    - /var/log/faillog
    - /var/log/messages*
    - /var/log/syslog*
    - /var/log/auth.log*
    - /var/log/secure*
    - /var/log/daemon.log
    - /var/log/user.log
    - /var/log/debug
    - .gz$
    - .xz$
{% for exclude in filebeat_exclude_files %}
    - {{ exclude }}
{% endfor %}

filebeat.config.modules:
  path: ${path.config}/modules.d/*.yml

setup.template.settings:
  index.number_of_shards: 1

name: {{ inventory_hostname }}

output.elasticsearch:
  hosts:
{% for host in filebeat_elasticsearch_hosts %}
    - {{ host }}
{% endfor %}
  protocol: https
  username: filebeat
  password: {{ chacal.elastic.es.passwords.filebeat }}


logging.level: warning
logging.metrics.enabled: false
